.not-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 960px;
  min-height: 40vh;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
  margin-top: 15px;
}

.not-task-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--gray-300);
}

.not-task-span {
  font-size: 1.2rem;
  font-weight: regular;
  color: var(--gray-300);
}